@use "@/shared/style" as *;

.inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;

  @include bp994-block {
    padding: 60px 40px;
    gap: 25px;
  }
}

.title {
}

.tagBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include bp994-block {
    margin-bottom: 20px;
  }
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
