.positionSnippet {
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.title {
}

.tagBox {
  display: flex;
  gap: 10px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
