@import "@/shared/style/grid/smart-grid";

.positionList {
  margin: 0;
  padding: 0;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  @include row-flex;

  gap: 30px 0;
}

.item {
  @include col;
  @include size(12);
  @include size-bp768(6);
  @include size-bp1100(4);
}
