.spot {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: min(950px, 90%);
    aspect-ratio: 950 / 280;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    background: var(--gradient-radial-primary);
    z-index: -1;
    filter: blur(clamp(200px, 30vw, 400px));
  }

  &::after {
    content: "";
    position: absolute;
    width: min(950px, 90%);
    aspect-ratio: 950 / 280;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(-50%);
    background: var(--gradient-radial-primary);
    z-index: -1;
    filter: blur(clamp(200px, 30vw, 400px));
  }
}

.textGradientPrimary {
  /* purple-gradient */
  background: var(--text-gradient-primary);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.textGradientGhosty {
  background: var(--text-gradient-ghosty);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.textGradientSuccess {
  background: var(--text-gradient-success);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.textGhosty {
  color: var(--text-ghosty);
  opacity: 0.8;
}

.sectionGradientPrimary {
  background: var(--text-gradient-radial-ghosty);
}

/* GRADIENT  */

.sectionGradientFill {
  background: linear-gradient(189.58deg, #7508b8 -48.79%, #7b3eff 92.78%);
}

.sectionGradientFillAndSpot {
  background: linear-gradient(189.58deg, #7508b8 -48.79%, #7b3eff 92.78%);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 202px;
    height: 202px;
    right: -80px;
    bottom: -80px;
    background: #7753e0;
    mix-blend-mode: screen;
    opacity: 0.6;
    filter: blur(50px);
  }

  &::after {
    content: "";
    position: absolute;
    width: 202px;
    height: 202px;
    left: -80px;
    top: -80px;
    background: #7753e0;
    mix-blend-mode: screen;
    opacity: 0.6;
    filter: blur(50px);
  }
}

.sectionGradientLeftBottom {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    width: 511px;
    height: 225px;
    left: -20%;
    bottom: -25%;
    background: var(--gradient-purple-quintuple);
    filter: blur(60px);
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 209px;
    left: -28%;
    bottom: -37%;
    background: var(--gradient-action-primary);
    filter: blur(50px);
    transform: matrix(-0.5, 0.87, -0.85, -0.53, 0, 0);
  }
}

.sectionGradientRightTop {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    width: 511px;
    height: 225px;
    right: -15%;
    top: -28%;
    background: var(--gradient-purple-quintuple);
    filter: blur(60px);
    transform: rotate(-135deg); /* изменили с 45deg на -135deg */
  }

  &::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 209px;
    right: -22%;
    top: -45%;
    background: var(--gradient-action-primary);
    filter: blur(50px);
    transform: matrix(-0.5, -0.87, 0.85, -0.53, 0, 0);
  }
}

.sectionGradientBorder {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 28px;
    padding: 2px;
    background: var(--gradient-light-to-transparent-to-light);
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}

.sectionGradientLineGhosty {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%; /* начинаем с 25%, чтобы занять 50% ширины секции */
    width: 50%;
    height: 1px; /* толщина рамки */
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgb(255 255 255 / 20%) 50%,
      transparent 100%
    );
  }
}

/* BACKGROUND IMG */

.sectionBackgroundImgCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  isolation: isolate;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: url("./img/deco/img_circle.png") no-repeat top right;

    /* mix-blend-mode: screen; */
  }
}

.sectionBackgroundImgBallRightTop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  isolation: isolate;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 220px;
    right: -80px;
    top: -90px;
    background: url("./img/deco/img_ball.png") no-repeat center/contain;
    transform: rotate(75deg);
  }
}

.sectionBackgroundImgBallRightMiddle {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  isolation: isolate;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    right: 0;
    bottom: 20%;
    background: url("./img/deco/img_ball.png") no-repeat center/contain;
    transform: rotate(35deg);
  }
}

.sectionBackgroundImgBallLeftMiddle {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  isolation: isolate;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 180px;
    left: 0;
    bottom: 0;
    background: url("./img/deco/img_ball.png") no-repeat center/contain;
  }
}
