.spot {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: min(950px, 90%);
    aspect-ratio: 950 / 280;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: radial-gradient(
      81.35% 81.35% at 50% 50%,
      #fff 0%,
      #a77ebf 14%,
      #7950a3 43%,
      #8100d0 66.67%,
      #3d1f4f 100%
    );
    z-index: -1;
    filter: blur(clamp(200px, 30vw, 400px));
  }
}

.textGradientPrimary {
  /* purple-gradient */
  background: var(--text-gradient-primary);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.textGradientGhosty {
  background: var(--text-gradient-ghosty);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.textGhosty {
  color: var(--text-ghosty);
  opacity: 0.8;
}

.sectionGradientPrimary {
  background: var(--text-gradient-radial-ghosty);
}

/* GRADIENT TEST */

.sectionGradientLeftBottom {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    width: 511px;
    height: 225px;
    left: -20%;
    bottom: -25%;
    background: linear-gradient(90deg, #8611ed 0%, #4c0a87 77.65%);
    filter: blur(60px);
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 209px;
    left: -28%;
    bottom: -37%;
    background: linear-gradient(90deg, #ebd5ff 0%, #ba8e1e 77.65%);
    filter: blur(50px);
    transform: matrix(-0.5, 0.87, -0.85, -0.53, 0, 0);
  }
}

.sectionGradientRightTop {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;

  &::before {
    content: "";
    position: absolute;
    width: 511px;
    height: 225px;
    right: -15%;
    top: -28%;
    background: linear-gradient(90deg, #8611ed 0%, #4c0a87 77.65%);
    filter: blur(60px);
    transform: rotate(-135deg); /* изменили с 45deg на -135deg */
  }

  &::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 209px;
    right: -22%;
    top: -45%;
    background: linear-gradient(90deg, #ebd5ff 0%, #ba8e1e 77.65%);
    filter: blur(50px);
    transform: matrix(
      -0.5,
      -0.87,
      0.85,
      -0.53,
      0,
      0
    ); /* инвертировали матрицу по вертикали */
  }
}

.sectionGradientBorder {
  /* position: absolute; */

  /* width: 100%; */

  /* height: 100%; */

  /* left: 0; */

  /* top: 0; */

  &::before {
    content: "";
    position: absolute;
    inset: 0; /* равносильно top: 0; right: 0; bottom: 0; left: 0; */
    border-radius: 28px;

    /* opacity: 0.4; */
    padding: 2px;
    background: linear-gradient(
      135deg,
      rgb(240 240 240 / 15%) 0%,
      transparent 45%,
      transparent 55%,
      rgb(240 240 240 / 15%) 100% /* rgb(106 83 254 / 60%) 100% */
    );
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}
