@forward "./preset/color";
@forward "./preset/gradient";
@forward "./preset/shadow";
@forward "./preset/theme";
@forward "./preset/var";
@forward "./preset/shadcn";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-200);
  border-radius: 4px;
}
