@use "@/shared/style" as *;

.course {
  width: 100%;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.title {
  margin-bottom: 12px;
  text-align: center;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;

  @include bp768-block {
    font-size: 18px;
    line-height: 28px;
  }
}
