@import "@/shared/style/grid/smart-grid";

.sport {
  width: 100%;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
}

.title {
  max-width: 140px;
  margin-bottom: 12px;
  position: relative;
}

.description {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 120px;

  @include bp768-block {
    font-size: 18px;
    line-height: 28px;
  }
}
