@import "@/shared/style/grid/smart-grid";

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  @include bp768-block {
    font-size: 22px;
    line-height: 27px;
  }
}
