@import "@/shared/style/mixin";

.link {
  position: relative;
  display: inline;
  text-decoration: none;
  color: var(--link);
  font-weight: 500;

  @include ts(opacity);

  &:hover {
    opacity: 0.6;
  }
}
