:root {
  --color-dark-950: #111012;
  --color-light-0: #fff;
  --color-light-100: #e7e0ff;

  /* Action */
  --color-action-500: #dc9433;

  /* Accent */
  --color-accent-400: #9f71ff;
  --color-accent-500: #6714c8;
  --color-accent-800: #36283d;
}
