:root {
  --gradient-purple-primary: linear-gradient(
    220.79deg,
    #2b1343 -10.3%,
    #341057 21.01%,
    #4d0c8e 45.96%,
    #8103ff 74.79%,
    #e5cbff 99.5%
  );
  --gradient-purple-primary-right-top: linear-gradient(
    90deg,
    #8611ed 0%,
    #4c0a87 77.65%
  );
  --gradient-purple-secondary: linear-gradient(
    180.58deg,
    #7508b8 -48.79%,
    #7b3eff 92.78%
  );
  --gradient-purple-tertiary: linear-gradient(
    0deg,
    #191024 0%,
    #2c1b3d 56.04%,
    #37224d 89.18%,
    #9f71ff 120.51%
  );
  --gradient-purple-quaternary: linear-gradient(
    180deg,
    #cd9eff 30.44%,
    #be89f6 40.68%,
    #9e5be3 50.51%,
    #9344e3 60.53%,
    #4e03e6 93.89%
  );
  --gradient-purple-quintuple: linear-gradient(
    90deg,
    #8611ed 0%,
    #4c0a87 77.65%
  );
  --gradient-action-primary: linear-gradient(90deg, #ebd5ff 0%, #ba8e1e 77.65%);
  --gradient-light-to-transparent-to-light: linear-gradient(
    135deg,
    rgb(240 240 240 / 15%) 0%,
    transparent 45%,
    transparent 55%,
    rgb(240 240 240 / 15%) 100%
  );
  --gradient-light-to-dark: linear-gradient(90deg, #fff 0%, #201b23 100%);
  --gradient-radial-light-to-dark: radial-gradient(
    108.17% 129.85% at 83.88% 124.64%,
    rgb(67 54 77 / 20%) 0%,
    rgb(50 40 57 / 40%) 50%,
    rgb(27 22 30 / 0%) 100%
  );
  --gradient-radial-primary: radial-gradient(
    81.35% 81.35% at 50% 50%,
    #fff 0%,
    #a77ebf 14%,
    #7950a3 43%,
    #8100d0 66.67%,
    #3d1f4f 100%
  );
}
