:root {
  /* Your default theme */
  --shadcn-background: 222.2 47.4% 11.2%;
  --shadcn-foreground: 0 0% 40%;
  --shadcn-muted: 215.4 16.3% 46.9%;
  --shadcn-muted-foreground: 210 40% 96.1%;
  --shadcn-card: 222.2 47.4% 11.2%;
  --shadcn-card-foreground: 0 0% 100%;
  --shadcn-popover: 222.2 47.4% 11.2%;
  --shadcn-popover-foreground: 0 0% 100%;
  --shadcn-border: 214.3 31.8% 91.4%;
  --shadcn-input: 214.3 31.8% 91.4%;
  --shadcn-primary: 210 40% 98%;
  --shadcn-primary-foreground: 222.2 47.4% 11.2%;
  --shadcn-secondary: 222.2 47.4% 11.2%;
  --shadcn-secondary-foreground: 210 40% 96.1%;
  --shadcn-accent: 222.2 47.4% 11.2%;
  --shadcn-accent-foreground: 210 40% 96.1%;
  --shadcn-destructive: 210 40% 98%;
  --shadcn-destructive-foreground: 0 100% 50%;
  --shadcn-warning: 14 91% 70%;
  --shadcn-warning-foreground: 285 8% 20%;
  --shadcn-success: 146 76% 49%;
  --shadcn-success-foreground: 146 76% 13%;
  --shadcn-ring: 215 20.2% 65.1%;
  --shadcn-radius: 0.5rem;

  /*   --shadcn-background: 0 0% 100%; */

  /* --shadcn-foreground: 222.2 47.4% 11.2%; */

  /* --shadcn-muted: 210 40% 96.1%; */

  /* --shadcn-muted-foreground: 215.4 16.3% 46.9%; */

  /* --shadcn-card: 0 0% 100%; */

  /* --shadcn-card-foreground: 222.2 47.4% 11.2%; */

  /* --shadcn-popover: 0 0% 100%; */

  /* --shadcn-popover-foreground: 222.2 47.4% 11.2%; */

  /* --shadcn-border: 214.3 31.8% 91.4%; */

  /* --shadcn-input: 214.3 31.8% 91.4%; */

  /* --shadcn-primary: 222.2 47.4% 11.2%; */

  /* --shadcn-primary-foreground: 210 40% 98%; */

  /* --shadcn-secondary: 210 40% 96.1%; */

  /* --shadcn-secondary-foreground: 222.2 47.4% 11.2%; */

  /* --shadcn-accent: 210 40% 96.1%; */

  /* --shadcn-accent-foreground: 222.2 47.4% 11.2%; */

  /* --shadcn-destructive: 0 100% 50%; */

  /* --shadcn-destructive-foreground: 210 40% 98%; */

  /* --shadcn-warning: 285 8% 20%; */

  /* --shadcn-warning-foreground: 14 91% 70%; */

  /* --shadcn-success: 146 76% 13%; */

  /* --shadcn-success-foreground: 146 76% 49%; */

  /* --shadcn-ring: 215 20.2% 65.1%; */

  /* --shadcn-radius: 0.5rem; */
}
