@import "./color";

:root {
  --background: var(--color-dark-950);
  --foreground: var(--color-light-0);
  --text-light: var(--color-light-0);
  --link: var(--color-light-0);

  /* BUTTON */
  // primary
  --button-primary-background: var(--gradient-purple-primary);
  --button-primary-background-hover: var(--gradient-purple-secondary);
  --button-primary-border: var(--shadow-purple-border);
  --button-primary-border-glow: var(--shadow-purple-glow),
    var(--shadow-purple-border);

  // transparent
  --button-transparent-text: var(--color-accent-400);
  --button-transparent-text-hover: var(--color-light-0);
  --button-transparent-background: transparent;
  --button-transparent-background-hover: var(--color-accent-800);
  --button-transparent-border: var(--shadow-purple-border);

  // icon
  --button-icon-text: var(--color-light-0);
  --button-icon-background: transparent;
  --button-icon-border: var(--shadow-purple-border);

  // > icon box
  --button-icon-box-background: var(--gradient-purple-tertiary);
  --button-icon-box-background-hover: var(--gradient-purple-secondary);

  /* TEXT */
  --text-action: var(--color-action-500);
  --text-ghosty: var(--color-light-100);
  --text-gradient-primary: var(--gradient-purple-quaternary);
  --text-gradient-ghosty: var(--gradient-light-to-dark);
  --text-gradient-success: var(--gradient-light-to-success);
  --text-gradient-radial-ghosty: var(--gradient-radial-light-to-dark);

  /* TAG */
  --tag-background: var(--color-accent-850);

  /* DATE */
  --date-text: var(--color-accent-200);
}
