@import "@/shared/style";

.positionList {
  margin: 0;
  padding: 0;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @include bp994-block {
    gap: 40px;
  }
}

.merquee {
  width: 100%;
}
