@import "@/shared/style";

.positionMerquee {
  display: none;

  @include bp994-block {
    display: block;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 10px 0 30px;

  @include bp994-block {
    padding: 10px 0 130px;
    gap: 40px;
  }
}

.merquee {
  width: 100%;
}
