@use "@/shared/style" as *;

.inner {
  display: flex;
}

.list {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 24px;
  height: 24px;

  @include mixin-ts(opacity, background-color);

  &:is(:hover, :focus) {
    opacity: 1;
    background-color: rgb(255 255 255 / 8%);
  }
}
