.shape_main {
  // Размеры
  &.size_s {
    border-radius: 8px;
  }

  &.size_m {
    border-radius: 10px;
  }

  &.size_l {
    border-radius: 14px;
  }

  &.size_xl {
    border-radius: 18px;
  }

  // Размеры с иконкой
  &.size_s .icon:has(+ .text) {
    margin-right: 6px;
    margin-left: 12px;
  }

  &.size_s .text + .icon {
    margin-right: 12px;
    margin-left: 6px;
  }

  &.size_s .icon:not(:has(+ .text)) {
    margin: 6px;
  }

  &.size_m .icon:has(+ .text) {
    margin-right: 7px;
    margin-left: 14px;
  }

  &.size_m .text + .icon {
    margin-right: 14px;
    margin-left: 7px;
  }

  &.size_m .icon:not(:has(+ .text)) {
    margin: 7px;
  }

  &.size_l .icon:has(+ .text) {
    margin-right: 7.5px;
    margin-left: 15px;
  }

  &.size_l .text + .icon {
    margin-right: 15px;
    margin-left: 7.5px;
  }

  &.size_l .icon:not(:has(+ .text)) {
    margin: 7.5px;
  }

  &.size_xl .icon:has(+ .text) {
    margin-right: 9px;
    margin-left: 18px;
  }

  &.size_xl .text + .icon {
    margin-right: 18px;
    margin-left: 9px;
  }

  &.size_xl .icon:not(:has(+ .text)) {
    margin: 9px;
  }

  /* IconBox */
  &.size_s .icon_box .icon:has(+ .text) {
    margin: auto;
  }

  &.size_s .icon_box .text + .icon {
    margin: auto;
  }

  &.size_s .icon_box .icon:not(:has(+ .text)) {
    margin: auto;
  }

  &.size_m .icon_box .icon:has(+ .text) {
    margin: auto;
  }

  &.size_m .icon_box .text + .icon {
    margin: auto;
  }

  &.size_m .icon_box .icon:not(:has(+ .text)) {
    margin: auto;
  }

  &.size_l .icon_box .icon:has(+ .text) {
    margin: auto;
  }

  &.size_l .icon_box .text + .icon {
    margin: auto;
  }

  &.size_l .icon_box .icon:not(:has(+ .text)) {
    margin: auto;
  }

  &.size_xl .icon_box .icon:has(+ .text) {
    margin: auto;
  }

  &.size_xl .icon_box .text + .icon {
    margin: auto;
  }

  &.size_xl .icon_box .icon:not(:has(+ .text)) {
    margin: auto;
  }
}

.shape_roundy {
  // Размеры
  &.size_s {
    border-radius: 2px;
  }

  &.size_m {
    border-radius: 4px;
  }

  &.size_l {
    border-radius: 6px;
  }

  &.size_xl {
    border-radius: 8px;
  }

  // Размеры с иконкой
  &.size_s .icon:has(+ .text) {
    margin-right: 6px;
    margin-left: 12px;
  }

  &.size_s .text + .icon {
    margin-right: 12px;
    margin-left: 6px;
  }

  &.size_s .icon:not(:has(+ .text)) {
    margin-right: 6px;
    margin-left: 6px;
  }

  &.size_m .icon:has(+ .text) {
    margin-right: 7px;
    margin-left: 14px;
  }

  &.size_m .text + .icon {
    margin-right: 14px;
    margin-left: 7px;
  }

  &.size_m .icon:not(:has(+ .text)) {
    margin-right: 7px;
    margin-left: 7px;
  }

  &.size_l .icon:has(+ .text) {
    margin-right: 7.5px;
    margin-left: 15px;
  }

  &.size_l .text + .icon {
    margin-right: 15px;
    margin-left: 7.5px;
  }

  &.size_l .icon:not(:has(+ .text)) {
    margin-right: 28px;
    margin-left: 10px;
  }

  &.size_xl .icon:has(+ .text) {
    margin-right: 9px;
    margin-left: 18px;
  }

  &.size_xl .text + .icon {
    margin-right: 18px;
    margin-left: 9px;
  }

  &.size_xl .icon:not(:has(+ .text)) {
    margin-right: 9px;
    margin-left: 9px;
  }

  /* IconBox */
  &.size_s .icon_box .icon:has(+ .text) {
    margin: auto;
  }

  &.size_s .icon_box .text + .icon {
    margin: auto;
  }

  &.size_s .icon_box .icon:not(:has(+ .text)) {
    margin: auto;
  }

  &.size_m .icon_box .icon:has(+ .text) {
    margin: auto;
  }

  &.size_m .icon_box .text + .icon {
    margin: auto;
  }

  &.size_m .icon_box .icon:not(:has(+ .text)) {
    margin: auto;
  }

  &.size_l .icon_box .icon:has(+ .text) {
    margin: auto;
  }

  &.size_l .icon_box .text + .icon {
    margin: auto;
  }

  &.size_l .icon_box .icon:not(:has(+ .text)) {
    margin: auto;
  }

  &.size_xl .icon_box .icon:has(+ .text) {
    margin: auto;
  }

  &.size_xl .icon_box .text + .icon {
    margin: auto;
  }

  &.size_xl .icon_box .icon:not(:has(+ .text)) {
    margin: auto;
  }
}
