@use "@/shared/style" as *;

/* View */

.view_primary {
  @include mixin-ts(background);

  background: var(--button-primary-background);
  box-shadow: var(--button-primary-border-glow);
  position: relative;
  isolation: isolate;

  /* overflow: hidden; */

  &::before {
    content: "";
    position: absolute;

    @include mixin-ts(opacity);

    border-radius: inherit;
    inset: 0;
    background: var(--button-primary-background-hover);
    opacity: 0;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }

  & .text {
    letter-spacing: 0.04em;

    /* text-transform: capitalize; */
    color: var(--text-light);
    font-weight: 700;
  }
}

.view_transparent {
  @include mixin-ts(background);

  background: transparent;
  position: relative;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    box-shadow: var(--button-transparent-border);

    @include mixin-ts(opacity);

    border-radius: inherit;
    inset: 0;
    background: var(--button-transparent-background-hover);
    opacity: 0;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover .icon {
    background-color: var(--button-transparent-text-hover);
  }

  &:hover .text {
    color: var(--button-transparent-text-hover);
  }

  & .text {
    @include mixin-ts(color);

    color: var(--button-transparent-text);
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-weight: 400;
  }

  .icon {
    @include mixin-ts(background-color);

    background-color: var(--button-transparent-text);
  }
}

.button.view_with_icon {
  .text {
    /* color: var(--text-light); */
    font-weight: 500;
  }
}
