@import "@/shared/style/index";

/* View */

.view_primary {
  @include mixin-ts(background);

  background: var(--button-primary-background);
  box-shadow: var(--button-primary-border-glow);
  position: relative;
  isolation: isolate;

  /* overflow: hidden; */

  &::before {
    content: "";
    position: absolute;

    @include mixin-ts(opacity);

    border-radius: inherit;
    inset: 0;
    background: var(--button-primary-background-hover);
    opacity: 0;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }

  & .text {
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--text-light);
  }

  .icon {
    background-color: red;

    &:hover {
      background-color: green;
    }
  }
}

.view_secondary {
  @include mixin-ts(background-position-x);

  background: seagreen;
  background-position-x: 50%;
  background-size: 150%;

  // border: 1px solid transparent;
  // background: $color_light;

  & .text {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    // color: $color_primary;
  }

  &:hover {
    background-position-x: 0%;

    // border-color: $color_secondary;
  }
}

.view_tertiary {
  // background: var(--color-bg-inverted);
  background: red;
  border: 2px solid navajowhite;

  & .text {
    @include mixin-ts(color);

    color: navajowhite;
  }

  &:hover {
    background: blue;

    & .text {
      @include mixin-ts(color);

      color: yellow;
    }
  }
}

.view_transparent {
  @include mixin-ts(background);

  background: transparent;
  position: relative;
  isolation: isolate;

  &::before {
    content: "";
    position: absolute;
    box-shadow: var(--button-transparent-border);

    @include mixin-ts(opacity);

    border-radius: inherit;
    inset: 0;
    background: var(--button-transparent-background-hover);
    opacity: 0;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }

  &:hover .icon {
    background-color: var(--button-transparent-text-hover);
  }

  &:hover .text {
    color: var(--button-transparent-text-hover);
  }

  & .text {
    @include mixin-ts(color);

    color: var(--button-transparent-text);
    letter-spacing: 0.04em;
    text-transform: capitalize;
  }

  .icon {
    @include mixin-ts(background-color);

    background-color: var(--button-transparent-text);
  }
}
