@import "@/shared/style/index";

/* View */
.view_primary {
  @include mixin-ts(background-position-x);

  background: orange;
  background-position-x: 50%;
  background-size: 150%;

  & .text {
    color: pink;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &:hover {
    background-position-x: 0%;
  }
}

.view_secondary {
  @include mixin-ts(background-position-x);

  background: seagreen;
  background-position-x: 50%;
  background-size: 150%;

  // border: 1px solid transparent;
  // background: $color_light;

  & .text {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    // color: $color_primary;
  }

  &:hover {
    background-position-x: 0%;

    // border-color: $color_secondary;
  }
}

.view_tertiary {
  // background: var(--color-bg-inverted);
  background: red;
  border: 2px solid navajowhite;

  & .text {
    @include mixin-ts(color);

    color: navajowhite;
  }

  &:hover {
    background: blue;

    & .text {
      @include mixin-ts(color);

      color: yellow;
    }
  }
}

.view_transparent {
  @include mixin-ts(background);

  background: transparent;

  & .text {
    @include mixin-ts(color);

    color: blue;
  }

  &:hover {
    background: red;

    & .text {
    }
  }

  &_inverted {
    &:hover {
      // border-color: var(--color-primary-inverted);
      background: violet;
    }

    & .text {
      color: coral;
    }
  }
}
