@use "@/shared/style" as *;

.positionLayout {
}

.inner {
  padding-top: 30px;
  padding-bottom: 30px;

  @include row-flex;

  @include bp994-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.nav {
  padding-bottom: 10px;

  @include col;
  @include size(12);

  @include bp994-block {
    padding-bottom: 25px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  @include col;
  @include size(12);
  @include size-bp994(8);

  @include bp994-block {
    gap: 40px;
    margin-bottom: 0;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include bp994-block {
    gap: 20px;
  }
}

.side {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 40px;

  @include col;
  @include size(12);
  @include size-bp994(4);
}
