@use "@/shared/style" as *;

.positionLayout {
}

.inner {
  @include row-flex;

  padding-top: 30px;
  padding-bottom: 30px;

  @include bp994-block {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.nav {
  @include col;
  @include size(12);
}

.main {
  @include col;
  @include size(12);
  @include size-bp994(8);

  display: flex;
  flex-direction: column;
  gap: 20px;

  @include bp994-block {
    gap: 40px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include bp994-block {
    gap: 20px;
  }
}

.side {
  @include col;
  @include size(12);
  @include size-bp994(4);

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 40px;
}
