@import "@/shared/style/index";

.box {
  isolation: isolate;
  position: relative;
  display: flex;
  background: var(--button-icon-box-background);
  box-shadow: var(--shadow-purple-border);
  border-radius: 8px;

  &::before {
    @include mixin-ts(opacity);

    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    background: var(--button-icon-box-background-hover);
    opacity: 0;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }

  .icon {
    background-color: var(--button-icon-text);
    width: 24px;
    height: 24px;
  }
}

.size_s {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.size_m {
  .icon {
    width: 42px;
    height: 42px;
  }
}

.size_l {
  .icon {
    width: 52px;
    height: 52px;
  }
}

.size_xl {
  .icon {
    width: 62px;
    height: 62px;
  }
}
