/* Icon svg example */

/* Не задаются размеры - блок icon не используется отдельно */

/* Используется в качестве вспомогательного, декоративного элемента */

/* Размеры получает через блок родителя, например button */

/* Если svg то красить тоже лучше через родителя, это дает большую гибкости */

/* и позволяет легко задавать цвет для hover */

/* и использовать иконки разных цветов в разных местах */

.icon.arrow_flat {
  mask-image: url("../img/icon_arrow_flat.svg");
}

.icon.arrow_tile {
  mask-image: url("../img/icon_arrow_tile.svg");
}

.icon.calendar {
  mask-image: url("../img/icon_calendar.svg");
}

.icon.file_plus {
  mask-image: url("../img/icon_file_plus.svg");
}

.icon.clock {
  mask-image: url("../img/icon_clock.svg");
}
