@use "@/shared/style" as *;

.base {
  color: var(--foreground);
  background: var(--background);
  font:
    16px Gilroy,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
  padding-right: calc(100vw - 100%);
}

.size {
  max-width: 100vw;
  overflow-x: hidden;
}

.card {
  border-radius: var(--radius-l);
  position: relative;
  overflow: hidden;
}
