@import "@/shared/style/preset/theme";

.base {
  color: var(--foreground);
  background: var(--background);
  font:
    16px Gilroy,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

/* Базовые стили для всех элементов */
.geometri :global(*) {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:global(:root) {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar) transparent;
}

:global(*::-webkit-scrollbar) {
  width: 8px;
  height: 8px;
}

:global(*::-webkit-scrollbar-track) {
  background: transparent;
}

:global(*::-webkit-scrollbar-thumb) {
  background-color: var(--color-accent-200);
  border-radius: 4px;
}

.size {
  max-width: 100vw;
  overflow-x: hidden;
}

.card {
  border-radius: var(--radius-l);
  position: relative;
  overflow: hidden;
}
