@import "@/shared/style/preset/theme";

.base {
  color: var(--foreground);
  background: var(--background);
  font:
    16px Gilroy,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.geometri {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.size {
  max-width: 100vw;
  overflow-x: hidden;
}

.card {
  border-radius: var(--radius-l);
  position: relative;
  overflow: hidden;
}
