@use "@/shared/style" as *;

.contactLayout {
  position: relative;
  overflow: hidden;
}

.inner {
  position: relative;
  padding: 22px 32px;
  margin-bottom: 40px;

  @include bp994-block {
    padding: 40px 60px;
  }

  @include bp1100-block {
    padding: 80px 100px;
  }
}

.row {
  @include row-flex;
}

.presentation {
  @include col;
  @include size(6);

  display: none;

  @include bp994-block {
    display: flex;

    /* padding: 40px 80px; */
  }

  @include bp1100-block {
    /* padding: 80px 115px; */
  }
}

.form {
  /* padding: 30px; */

  @include col;
  @include size(12);
  @include size-bp994(6);

  @include bp994-block {
    /* padding: 40px 80px; */
  }
}

.deco {
  display: none;

  @include bp994-block {
    display: block;
  }
}
