@import "@/shared/style/grid/smart-grid";

.inner {
  display: flex;
  flex-direction: column;
  padding: 10px 0 30px;

  @include bp994-block {
    padding: 10px 0 130px;
    gap: 30px;
  }
}

.row {
  @include row-flex;
}

.text {
  @include col;
  @include size(12);
  @include size-bp994(5);

  margin-top: 15px;
  margin-bottom: 15px;

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.people {
  @include col;
  @include size(12);
  @include size-bp994(7);

  margin-top: 30px;
  margin-bottom: 30px;

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* background: blue; */
  text-align: center;
  overflow: hidden;
  position: relative;
}

.work {
  @include col;
  @include size(12);
  @include size-bp994(5);

  margin-top: 15px;
  margin-bottom: 15px;

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* background: green; */

  /* text-align: center; */
}

.snack {
  @include col;
  @include size(12);
  @include size-bp994(3);

  margin-top: 15px;
  margin-bottom: 15px;

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* background: yellow; */

  /* text-align: center; */
}

.sport {
  @include col;
  @include size(12);
  @include size-bp994(4);

  margin-top: 15px;
  margin-bottom: 15px;

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* background: orange; */
}

.office {
  @include col;
  @include size(12);
  @include size-bp994(7);

  margin-top: 15px;
  margin-bottom: 15px;

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* background: purple; */

  /* text-align: center; */
}

.course {
  @include col;
  @include size(12);
  @include size-bp994(5);

  margin-top: 15px;
  margin-bottom: 15px;

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}
