@import "@/shared/style/grid/smart-grid";

.title {
  width: 100%;
}

.inner {
  /* display: flex; */
  width: 100%;
}

.text {
}

.size_s {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.size_m {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;

  @include bp768-block {
    font-size: 26px;
    line-height: 26px;
  }
}

.size_l {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;

  @include bp768-block {
    font-size: 38px;
    line-height: 44px;
  }
}

.size_xl {
  font-size: 38px;
  font-weight: 700;
  line-height: 42px;

  @include bp768-block {
    font-size: 48px;
    line-height: 52px;
  }
}
