@use "@/shared/style" as *;

.inner {
  display: flex;
  flex-direction: column;
  padding: 10px 0 30px;

  @include bp994-block {
    padding: 10px 0 130px;
    gap: 30px;
  }
}

.row {
  @include row-flex;
}

.text {
  margin-top: 15px;
  margin-bottom: 15px;

  @include col;
  @include size(12);
  @include size-bp994(5);

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.people {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
  position: relative;

  @include col;
  @include size(12);
  @include size-bp994(7);

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.peopleGradient {
  display: none;

  @include bp994-block {
    display: block;

    /* position: absolute; */

    /* inset: 0; */

    /* background: var(--gradient-light-to-transparent-to-light); */
  }
}

.work {
  margin-top: 15px;
  margin-bottom: 15px;

  @include col;
  @include size(12);
  @include size-bp994(5);

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.snack {
  margin-top: 15px;
  margin-bottom: 15px;

  @include col;
  @include size(12);
  @include size-bp994(3);

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.sport {
  margin-top: 15px;
  margin-bottom: 15px;

  @include col;
  @include size(12);
  @include size-bp994(4);

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.office {
  margin-top: 15px;
  margin-bottom: 15px;

  @include col;
  @include size(12);
  @include size-bp994(7);

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.course {
  margin-top: 15px;
  margin-bottom: 15px;

  @include col;
  @include size(12);
  @include size-bp994(5);

  @include bp768-block {
    margin-top: 0;
    margin-bottom: 0;
  }
}
