@import "@/shared/style/grid/smart-grid";

.inner {
  /*  */

  /* align-items: center; */

  /* padding: 30px 0; */
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.row {
  @include row-flex;
}

.text {
  @include col;
  @include size(12);
  @include size-bp994(5);
}

.people {
  @include col;
  @include size(12);
  @include size-bp994(7);

  /* background: blue; */
  text-align: center;
  overflow: hidden;
  position: relative;
}

.work {
  @include col;
  @include size(12);
  @include size-bp994(5);

  /* background: green; */

  /* text-align: center; */
}

.snack {
  @include col;
  @include size(12);
  @include size-bp994(3);

  /* background: yellow; */

  /* text-align: center; */
}

.sport {
  @include col;
  @include size(12);
  @include size-bp994(4);

  /* background: orange; */
}

.office {
  @include col;
  @include size(12);
  @include size-bp994(7);

  /* background: purple; */

  /* text-align: center; */
}

.course {
  @include col;
  @include size(12);
  @include size-bp994(5);
}
