@mixin ts($obj, $obj2: "empty", $obj3: "empty") {
  transition: $obj var(--th);

  @if $obj2 != "empty" {
    transition:
      $obj var(--th),
      $obj2 var(--th);
  }

  @if $obj3 != "empty" {
    transition:
      $obj var(--th),
      $obj2 var(--th),
      $obj3 var(--th);
  }
}
