@import "@/shared/style";

.marquee {
  max-width: 800px;
  margin: 0 auto;
  height: 120px;
  overflow: hidden;
  position: relative;
  mask: linear-gradient(90deg, transparent, #000 5%, #000 95%, transparent);
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.track {
  display: flex;
  flex-direction: column;
  gap: 20px; // Отступ между строками
  width: fit-content;
  animation: scroll 500s linear infinite;
  will-change: transform;
}

.row {
  display: flex;
  gap: 20px; // Отступ между элементами в строке

  &.bottomRow {
    padding-left: 100px; // Горизонтальный сдвиг второй строки
  }
}

.item {
  white-space: nowrap;
  background: var(--tag-background);
  box-shadow: 0 0 1px rgb(255 255 255 / 30%);
  padding: 10px 20px;
  border-radius: 20px;

  @include mixin-ts(background-color);
}

.item_bg_red {
  background-color: red;
}

.item_bg_blue {
  background-color: blue;
}

.item_bg_pink {
  background-color: pink;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
