@import "@/shared/style";

.marquee {
  margin: 0;
  padding: 0;
}

.inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.track {
  display: flex;
  flex-direction: column;
  gap: 20px; // Отступ между строками
  width: fit-content;
  animation: scroll 500s linear infinite;
  will-change: transform;
}

.row {
  display: flex;
  gap: 20px; // Отступ между элементами в строке

  &.bottomRow {
    padding-left: 100px; // Горизонтальный сдвиг второй строки
  }
}

.item {
  white-space: nowrap;
  background: var(--tag-background);
  box-shadow: 0 0 1px rgb(255 255 255 / 30%);
  padding: 10px 20px;
  border-radius: 20px;

  @include mixin-ts(background-color);
}

.item_attention_first {
  background: linear-gradient(
    180deg,
    #ffefda -23.2%,
    #e6ab5c 15.38%,
    #e6972e 51.47%,
    #dc9433 100%
  );
}

.item_attention_second {
  background:
    linear-gradient(70.76deg, rgb(224 49 227 / 0%) 57.63%, #77d6ff 96.95%),
    radial-gradient(
        148.65% 464.44% at 144.93% 391.11%,
        #df2fe1 63.66%,
        rgb(223 47 225 / 0%) 100%
      )
      #286afb;
}

.item_attention_third {
  background: radial-gradient(
      206.42% 387.78% at 202.7% 314.44%,
      #df2fe1 63.66%,
      rgb(223 47 225 / 0%) 100%
    )
    #d7768a;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
