@use "@/shared/style" as *;

.inner {
  @include row-flex;

  align-items: center;
  padding: 30px 0;
}

.logo {
  @include col;
  @include size(12);

  display: flex;
  justify-content: center;

  @include bp768-block {
    @include size(2);

    justify-content: flex-start;
  }
}

.menu {
  @include col;

  display: none;

  @include bp768-block {
    display: flex;
    justify-content: center;

    @include size(8);
    @include shift-right(2);
  }
}
