@import "@/shared/style/grid/smart-grid";

.inner {
  @include row-flex;

  align-items: center;
  padding: 30px 0;
}

.logo {
  @include col;
  @include size(2);
}

.menu {
  @include col;
  @include size(8);
  @include shift-right(2);

  display: flex;
  justify-content: center;
}
