.contactFormLayout {
  margin: 0;
  padding: 0;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.col {
  width: calc(50% - 7.5px);
}

.footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 15px;
}

.dropZone {
  flex-grow: 1;
}

.button {
}
