@import "@/shared/style/grid/smart-grid";

.text {
}

.inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px 0;

  @include bp994-block {
    text-align: left;
  }
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--action-text);
  margin-bottom: 12px;
  width: 100%;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 24px;

  @include bp768-block {
    font-size: 48px;
    line-height: 52px;
  }
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include bp768-block {
    font-size: 17px;
    line-height: 28px;
  }
}
