@import "@/shared/style/grid/smart-grid";

.text {
  width: 100%;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px;

  @include bp994-block {
    text-align: left;
  }
}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: var(--text-action);
  margin-bottom: 12px;
  width: 100%;
}

.title {
  margin-bottom: 24px;
  max-width: 320px;
  width: 100%;

  @include bp994-block {
    align-self: flex-start;
  }
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include bp768-block {
    font-size: 18px;
    line-height: 28px;
  }
}
